# Configuración de base de datos para Docker Compose
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgrespassword

# Configuración de Seguridad JWT
# El secreto debe tener al menos 32 caracteres para HS256
JWT_SECRET=escribe_aqui_un_secreto_seguro_y_largo_de_32_caracteres
JWT_EXPIRATION=3600000

# Configuración del Cliente Externo ESIOS
ESIOS_API_TOKEN=tu_token_personal_de_esios_aqui
